*{
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.float-clear{
    clear: both;
}
    header {
    background: #222;
    color: white;
    padding: 20px 20px;
    }

    /* logo nest inside header */

        header #page-header {
        color: inherit;
        text-decoration: none;
        width: 49%;
        display: inline-block
        }

        header img {
        width: 70px;
        border-radius: 50%;
        vertical-align: middle;
        }

        header h2 {
        font-size: 16px;
        }

        /* MAIN NAVIGATION */

        header #main-navigation {
        width: 49%;
        display: inline-block;
        text-align: right;
        }

            header #main-navigation ul {
            list-style: none;
            padding: 0;
            }

            header #main-navigation ul li {
            display: inline-block;
            }

            header #main-navigation ul a {
            color: inherit;
            text-decoration: none;
            padding: 10px 15px;
            border-radius: 3px;
            }

            header #main-navigation ul a:hover {
            background: #444;
            transition: 0.3s ease all;
            }

    /* FOOTER */
    footer{
        background: #222;
        color: #777;
        padding: 10px;
        text-align: center;
    }
        footer img {
            display: block;
            border-radius: 5px;
            width: 80px;
            margin: 0 auto 5px;
        }

    /* HERO */
    .main-page{}
        .hero{
            min-height: 800px;
            text-align: center;
            background: #555;
            background-image: url('Images/hero.jpg');
            background-size: cover;
        }
            .hero-content{
                padding-top: 130px;
                line-height: 1;
            }
                #hero-title{
                    color: white;
                    margin: 0;
                    font-size: 100px;
                    cursor: pointer;
                    user-select: none;
                }
                .hero-content p{
                    color: white;
                    font-size: 50px;
                    margin-bottom: 60px;
                }

    /* SERVICES */
        .site-section{
            padding-bottom: 50px;
            padding-top: 50px;
        }
        .section-header{
            text-align: center;
            margin-bottom: 30px;
        }
            .section-header h2{
                font-size: 30px;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-weight: 300;
                color: #9999
            }
        .site-section-inside{
            width: 80%;
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }
            .site-section-secondary{
                background: #EFEFEF;
            }

            .service-box {
                float: left;
                width: 24%;
                padding: 20px 50px;
                line-height: 1;
            }
                .service-box img{
                    width: 80px;
                    margin-bottom: 15px;
                }
                .service-box h5{
                    margin-top: 0;
                    margin-bottom: 15px;
                    font-size: 20px;
                    color: #999;
                    text-transform: uppercase;
                    font-weight: 300px;
                    letter-spacing: 2px;
                }

        .about{
            background: #ECF0F1;
            width: 100%;
            padding: 50px 0;
        }

    /* TESTIMONIALS */
        .testimonial-box{
            display: inline-block;
            width: 27%;
            padding: 20px 30px;
        }
            .testimonial-content{
                background: #ECF0F1;
                padding: 15px;
                border-radius: 5px;
                margin-bottom: 15px;
            }
                .testimonial-author{}
                    .testimonial-author img{
                        float: left;
                        width: 80px;
                        border-radius: 50%;
                        margin-right: 15px;
                        -webkit-filter: sepia(50%);
                    }
                    .testimonial-author h5{
                        font-size: 18px;
                        margin: 0;
                        padding-top: 15px;
                    }
                    .testimonial-author span{
                        color: #999;
                        font-size: 14px;
                    }
    /* JavaScript Fuckery */
    .js {
        background: #ECF0F1;
        width: 100%;
        padding: 50px 0;
    }
        .character-sheet {
            width: 1275px;
            height: 1650px;
            margin: auto;
            background-image: url('Images/char-sheet.jpg');
            background-size: cover;
            text-align: center;
        }
            .top-block{}
                #char-name {
                    transform: translate(-10px, 125px);
                    width: 440px;
                    font-size: 30px;
                    border-style: none;
                    background: none;
                }
                .details{
                    transform: translate(-90px, 105px);
                    float: right;
                }
                    #char-level {
                        width: 35px;
                        text-align: center;
                        border: none;
                        background: none;
                    }
                    #classes {
                        border: none;
                        background: none;
                    }
                    #backgrounds {
                        border: none;
                        background: none;
                    }
                    #player-name {
                        width: 180px;
                        border: none;
                        background: none;
                    }

                    .second-line {
                        transform: translate(-15px);
                        margin-top: 30px;
                    }
                        #races {
                            width: 37%;
                            border: none;
                            background: none;
                        }
                        #alignments {
                            width: 33%;
                            border: none;
                            background: none;
                        }
                        #exp {
                            width: 150px;
                            border: none;
                            background: none;
                        }

            /* Aility Score Column */
            .Ability-Scores{
                width: 10%;
                float: left;
                transform: translate(62px, 280px);
            }
                .topstat{
                    text-align: center;
                    font-size: 30px;
                    font-weight: bold;
                    border-style: none;
                    width: 50px;
                    padding: 5px;
                }
                .stat {
                    text-align: center;
                    font-size: 30px;
                    font-weight: bold;
                    border-style: none;
                    width: 50px;
                    padding: 5px;
                    margin-top: 60px;
                }
                .mod {
                    text-align: center;
                    margin-top: 10px;
                    margin-left: -10px;
                }
                #pasPer {
                    text-align: center;
                    transform: translate(-38px, 67px);
                    font-size: 30px;
                }

            /* Second Column */
            .second-column {
                transform: translate(43px, 230px);
                width: 23%;
                float: left;
            }
                #inspiration {
                    transform: translate(-69px, 1px);
                    width: 35px;
                    text-align: center;
                    border: none;
                }
                #pro-bonus {
                    transform: translate(-111px, 80px);
                    width: 30px;
                    text-align: center;
                    border: none;
                }
                .saving-throws {
                    transform: translate(1px, 120px);
                }
                    .saving-throws ul {
                        list-style: none;
                    }
                        .saving-throws ul li {
                            margin-top: 4px;
                            width: 20%;
                        }
                            .savingThrow {
                                margin-top: 6px;
                                float: left;
                            }
                            .saving-throws ul li p {
                                margin-left: 20px;
                            }

                .skills {
                    transform: translate(1px, 193px);
                }
                    .skills ul {
                        list-style: none;
                    }
                        .skills ul li {
                            margin-top: 4px;
                            width: 20%;
                        }
                            .skill {
                                margin-top: 6px;
                                float: left;
                            }
                            .skills ul li p {
                                margin-left: 20px;
                            }
                #otherPro {
                    width: 346px;
                    height: 275px;
                    transform: translate(-105px, 326px);
                    resize: none;
                    background: none;
                    padding: 5px;
                    padding-top: 0;
                    padding-bottom: 0;
                    border: none;
                    line-height: 23px;
                }

            /* Third Column */
            .third-column {
                transform: translate(0px, 265px);
                width: 33%;
                float: left;
            }
                #ac {
                    float: left;
                    transform: translate(77px, -50px);
                    border: none;
                    background: none;
                    width: 50px;
                    font-size: 30px;
                    text-align: center;
                }
                #initiative {
                    transform: translate(-25px, -48px);
                    font-size: 40px;
                    background: none;
                }
                #speed {
                    transform: translate(133px, -107px);
                    font-size: 40px;
                }
                .hit-points {
                    display: block;
                }
                    #max-hp {
                        transform: translate(73px, -60px);
                        text-align: center;
                        width: 190px;
                        height: 20px;
                        background: none;
                        border: none;
                    }
                    #hp {
                        transform: translate(8px, -50px);
                        text-align: center;
                        font-size: 40px;
                        width: 300px;
                        border: none;
                        background: none;
                    }
                    #temp-hp {
                        transform: translate(8px, -3px);
                        text-align: center;
                        font-size: 40px;
                        width: 300px;
                        border: none;
                        background: none;
                    }
                .hd {
                    transform: translate(-70px, 45px);
                }
                    #hit-type {}
                    #hit-dice {
                        transform: translate(-13px, 10px);
                        width: 140px;
                        text-align: center;
                        font-size: 25px;
                        border: none;
                        background: none;
                    }
                .death-saves {
                    transform: translate(133px, -9px);
                }
                    .death-save {
                        margin-bottom: 14px;
                        margin-right: 10px;
                    }
                .atk-spell {}
                    #attacks {
                        transform: translate(40px, 73px);
                    }
                        #attacks tr {
                            height: 30px;
                        }
                            .weaponName {
                                margin-bottom: 9px;
                                width: 130px;
                                background: none;
                                border: none;
                            }
                            .atkBonus {
                                margin-bottom: 9px;
                                margin-left: 20px;
                                text-align: center;
                                width: 60px;
                                background: none;
                                border: none;
                            }
                            .damageType {
                                margin-bottom: 13px;
                                margin-left: 0px;
                                width: 120px;
                                background: none;
                                border: none;
                            }
                        #otherAtks {
                            transform: translate(6px, 83px);
                            resize: none;
                            width: 358px;
                            height: 225px;
                            background: none;
                            line-height: 23px;
                            border: none;
                        }
                .equipment {
                    transform: translate(35px, 152px);
                }
                    #mons {
                        transform: translate(-6px, -10px);
                        list-style: none;
                        float: left;
                        width: auto;
                    }
                        .money {
                            width: 50px;
                            float: left;
                            margin-bottom: 22px;
                            text-align: center;
                            font-size: 20px;
                            background: none;
                            border: none;
                        }
                        #mons li {}
                    #equip {
                        transform: translate(8px, -30px);
                        float: left;
                        resize: none;
                        width: 256px;
                        height: 342px;
                        background: none;
                        line-height: 23px;
                        border: none;
                    }

            /* Last Column */
            .last-column {
                transform: translate(-33px, 203px);
                width: 33%;
                float: right;
            }
                #pers-traits {
                    line-height: 26px;
                    resize: none;
                    width: 330px;
                    height: 99px;
                    background: none;
                    border: none;
                    margin-bottom: 33px;
                }
                #ideals {
                    line-height: 26px;
                    resize: none;
                    width: 330px;
                    height: 76px;
                    background: none;
                    border: none;
                    margin-bottom: 30px;
                }
                #bonds {
                    line-height: 26px;
                    resize: none;
                    width: 330px;
                    height: 75px;
                    background: none;
                    border: none;
                    margin-bottom: 30px;
                }
                #flaws {
                    line-height: 26px;
                    resize: none;
                    width: 330px;
                    height: 75px;
                    background: none;
                    border: none;
                    margin-bottom: 50px;
                }
                #traits {
                    line-height: 23px;
                    resize: none;
                    width: 360px;
                    height: 777px;
                    background: none;
                    border: none;
                }
    /* MOBILE RESPONSIVENESS */

@media screen and (max-width: 375px) {

    /* HEADER   */
    header #page-header {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
    header #main-navigation {
        width: 100%;
        display: block;
        text-align: center;
    }

/*  HERO  */
    .hero {
        min-height: 300px;
    }
    .hero-content {
        padding-top: 80px;
    }
    .hero-title {
        font-size: 30px;
    }
    .hero-content p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .hero-content a {
        font-size: 14px;
        padding: 10px 15px;
        border-width: 1px;
        background: #FFF;
        color: #333;

    }

/* FEATURE BOXES   */
    .service-box {
        width: 100%;
        display: block;
    }

/* TESTIMONIAL BOXES   */
    .testimonial-box {
        width: 100%;
        display: block;
}
}
