.profile-pic {
  display: block;
  margin: auto;
  width: 30%;
  border-radius: 50%;
}

.icons {
  text-align: center;
}

.image {
  transition: 0.5s;
}

.img-link {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.link-img {
  transition: 0.5s;
  object-fit: contain;
}

.img-link:hover {
  background-color: orange;
}

.img-link:hover img {
  transform: scale(0.9);
}

#logo1 {
  object-fit: contain;
  transition: 0.5s;
}

#logo2 {
  object-fit: contain;
  transition: 0.5s;
}

#logo3 {
  object-fit: contain;
  transition: 0.5s;
}
