.section-header h3 {
    font-weight: 200;
    color: #606060;
}

.js {
    width: 100%;
    padding: 50px 0;
}
    .character-sheet {
        width: 1275px;
        height: 1650px;
        margin: auto;
        background-image: url('../Images/char-sheet.jpg');
        background-size: cover;
        text-align: center;
        display: grid;
        grid-template-areas:"a a a"
                            "b c d";
        grid-template-columns: 439px 397px 439px;
        grid-template-rows: 244px 1406px;
    }
        .top-block{
            grid-area: a;
        }
            #char-name {
                transform: translate(-10px, 125px);
                width: 440px;
                font-size: 30px;
                border-style: none;
                background: none;
            }
            .details{
                transform: translate(-90px, 105px);
                float: right;
            }
                #char-level {
                    width: 35px;
                    text-align: center;
                    border: none;
                    background: none;
                }
                #classes {
                    border: none;
                    background: none;
                }
                #backgrounds {
                    border: none;
                    background: none;
                }
                #player-name {
                    width: 180px;
                    border: none;
                    background: none;
                }

                .second-line {
                    transform: translate(-15px);
                    margin-top: 30px;
                }
                    #races {
                        width: 37%;
                        border: none;
                        background: none;
                    }
                    #alignments {
                        width: 33%;
                        border: none;
                        background: none;
                    }
                    #exp {
                        width: 150px;
                        border: none;
                        background: none;
                    }

        /* Aility Score Column */
        .first-column{
            grid-area: b;
            margin-left: 58px;
            margin-bottom: 54px;
            display: grid;
            grid-template-areas:"a b"
                                "c c";
            grid-template-columns: 131px 131px;
            grid-template-rows: 956px ;
        }
            .ability-scores {
                margin-top: 85.5px;
                grid-area: a;
            }
                .topstat{
                    background: none;
                    text-align: center;
                    font-size: 30px;
                    font-weight: bold;
                    border-style: none;
                    width: 50px;
                }
                .stat {
                    background: none;
                    text-align: center;
                    font-size: 30px;
                    font-weight: bold;
                    border-style: none;
                    width: 50px;
                    padding: 5px;
                    margin-top: 58px;
                }
                .mod {
                    text-align: center;
                    margin-top: 12.5px;
                    margin-left: -10px;
                }

            .pro-skills {
                grid-area: b;
                text-align: left;
                margin-top: 30px;
                margin-left: 20px;
            }
                .pro{
                }
                    #inspiration {
                        width: 35px;
                        text-align: center;
                        border: none;
                        background: none;
                        margin-top: 3px;
                        margin-left: 5px;
                    }
                    #pro-bonus {
                        width: 30px;
                        font-size: 25px;
                        text-align: center;
                        border: none;
                        background: none;
                        margin-top: 48px;
                    }
                .skills-st {
                    margin-top: 15px;
                    margin-left: -38px;
                }
                    .saving-throws {
                        text-align: left;
                    }
                        .saving-throws ul {
                            list-style: none;
                        }
                            .saving-throws ul li {
                                margin-top: 4px;
                                width: 20%;
                            }
                                .savingThrow {
                                    margin-top: 6px;
                                    float: left;
                                }
                                .saving-throws ul li p {
                                    margin-left: 35px;
                                }
                    .skills {
                        margin-top: 77px;
                    }
                        .skills ul {
                            list-style: none;
                        }
                            .skills ul li {
                                margin-top: 4px;
                                width: 20%;
                            }
                                .skill {
                                    margin-top: 6px;
                                    float: left;
                                }
                                .skills ul li p {
                                    margin-left: 33px;
                                }
                .otherPro {
                    grid-area: c;
                    margin-bottom: 54px;
                }
                    #otherPro {
                        margin-top: 29px;
                        margin-left: 7px;
                        width: 347px;
                        height: 275px;
                        resize: none;
                        background: none;
                        padding: 5px;
                        padding-top: 0;
                        padding-bottom: 0;
                        border: none;
                        line-height: 23px;
                    }
                    #pasPer {
                        text-align: left;
                        margin-top: 26px;
                        margin-left: 13px;
                        font-size: 30px;
                    }

        /* Second Column */
        .second-column {
            grid-area: c;
        }
            .topBlock {
                display: grid;
                grid-template-areas:"a b c"
                                    "d d d"
                                    "e e e"
                                    "f . g";
                grid-template-columns: 120px 120px 120px;
                grid-template-rows: 134px 139px 114px 130px;
                text-align: center;
            }
                #ac {
                    grid-area: a;
                    border: none;
                    background: none;
                    width: 50px;
                    font-size: 30px;
                    text-align: center;
                    margin-top: 23px;
                    margin-left: 60px;
                }
                #initiative {
                    grid-area: b;
                    font-size: 40px;
                    text-align: center;
                    background: none;
                    margin-top: 56px;
                    margin-left: 28px;
                }
                #speed {
                    grid-area: c;
                    background: none;
                    font-size: 40px;
                    margin-top: 56px;
                    margin-left: 30px;
                }
                .hit-points {
                    grid-area: d;
                    display: block;
                    margin-top: 30px;
                    margin-left: auto;
                }
                    #max-hp {
                        text-align: center;
                        width: 190px;
                        height: 20px;
                        background: none;
                        border: none;
                        margin-left: 110px;
                    }
                    #hp {
                        margin-top: 10px;
                        text-align: center;
                        font-size: 40px;
                        width: 300px;
                        border: none;
                        background: none;
                    }
                    #temp-hp {
                        margin-top: 50px;
                        text-align: center;
                        font-size: 40px;
                        width: 300px;
                        border: none;
                        background: none;
                    }
                    .hd {
                        grid-area: f;
                        margin-top: 32px;
                        margin-left: 40px;
                        text-align: center;
                    }
                        #hit-type {
                            margin-left: 70px;
                        }
                        #hit-dice {
                            width: 140px;
                            text-align: center;
                            font-size: 25px;
                            margin: auto;
                            border: none;
                            background: none;
                            margin-top: 5px;
                        }
                    .death-saves {
                        grid-area: g;
                        margin-top: 39px;
                        margin-left: 30px;
                    }
                        .death-save {
                            width: 13px;
                            padding: 0;
                            margin-bottom: 14px;
                            margin-left: 10px;
                        }

                #attacks {
                    margin-top: 53px;
                    margin-left: 20px;
                }
                    #attacks tr {
                        height: 30px;
                    }
                        .weaponName {
                            margin-bottom: 9px;
                            margin-left: 5px;
                            width: 130px;
                            background: none;
                            border: none;
                        }
                        .atkBonus {
                            margin-bottom: 9px;
                            margin-left: 15px;
                            text-align: center;
                            width: 60px;
                            background: none;
                            border: none;
                        }
                        .damageType {
                            margin-bottom: 13px;
                            margin-left: 0px;
                            width: 120px;
                            background: none;
                            border: none;
                        }
                    #otherAtks {
                        margin-top: 12px;
                        resize: none;
                        width: 358px;
                        height: 225px;
                        background: none;
                        line-height: 23px;
                        border: none;
                    }

                #mons {
                    margin-top: 58px;
                    margin-left: 12px;
                    list-style: none;
                    float: left;
                    width: auto;
                }
                    .money {
                        width: 50px;
                        float: left;
                        margin-bottom: 22px;
                        text-align: center;
                        font-size: 20px;
                        background: none;
                        border: none;
                    }

                #equip {
                    margin-top: 37px;
                    margin-right: 21px;
                    float: right;
                    resize: none;
                    width: 257px;
                    height: 342px;
                    background: none;
                    line-height: 23px;
                    border: none;
                }

        /* Last Column */
        .third-column {
            grid-area: d;
            margin-top: 40px;
            margin-right: 50px;
        }
            #pers-traits {
                line-height: 26px;
                resize: none;
                width: 330px;
                height: 99px;
                background: none;
                border: none;
                margin-bottom: 33px;
            }
            #ideals {
                line-height: 26px;
                resize: none;
                width: 330px;
                height: 76px;
                background: none;
                border: none;
                margin-bottom: 30px;
            }
            #bonds {
                line-height: 26px;
                resize: none;
                width: 330px;
                height: 75px;
                background: none;
                border: none;
                margin-bottom: 30px;
            }
            #flaws {
                line-height: 26px;
                resize: none;
                width: 330px;
                height: 75px;
                background: none;
                border: none;
                margin-bottom: 50px;
            }
            #traits {
                line-height: 23px;
                resize: none;
                width: 360px;
                height: 777px;
                background: none;
                border: none;
            }

@media all and (max-width: 1000px) {
    .js {
        width: 1275px;
    }
}
