body {
    background: rgb(205, 217, 219);
}
.site-section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.app-container {
    width: 100%;
    text-align: center;
}
    .app {
        display: inline-block;
        margin: 10px;
        background: rgb(24, 26, 61);
        padding: 20px;
        width: 25%;
        height: 300px;
        border: 5px solid rgb(161, 161, 161);
        overflow: auto;
    }

        #time {
            height: 83%;
            width: 100%;
        }

        .app-title {
            text-align: center;
            padding-bottom: 20px;
            color: white;
            cursor: default;
            user-select: none;
        }

        .output {
            color: white;
            padding: 20px;
        }

        #conList {
            margin-top: 10px;
            color: white;
            text-align: center;
        }
            .contestant {
                text-align: left;
            }

/* Mobile Responsiveness */
@media all and (max-width: 1120px) {
    .app {
        width: 50%;
        display: block;
        margin: auto;
        margin-bottom: 30px;
    }
}